@model IEnumerable<NewEventPlanner.Models.Business>

@{
    ViewBag.Title = "CaterersIndex";
}
<style>
    body {
        background-position: center;
        height: 750px;
        background-image: url('../../Images/1.jpg');
        background-position: center;
        background-repeat: no-repeat, repeat;
        padding: 150px;
    }
</style>

<h2>CaterersIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.CaterersName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Item4)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Customize)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MenuPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.CaterersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Item4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MenuPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>

            <td>

                @Html.ActionLink("Details", "CaterersDetails", new { id = item.Id }) |
                @Html.ActionLink("Book Venue Now", "Stripe", "Home", new { id = item.Id }) |
            </td>
        </tr>
    }

</table>
