@model IEnumerable<NewEventPlanner.Models.Business>

@{
    ViewBag.Title = "SecurityAgencyIndex";
}

<h2>SecurityAgencyIndex</h2>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.SecurityAgencyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfPeople)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Charge)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.SecurityAgencyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfPeople)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Charge)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
